@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Conference Planner</h1>
    <p>Please find the schedule for today below.</p>
    <div class="text-left">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Shopping</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>Cleaning</td>
                        <td>1.00</td>
                    </tr>
                    <tr>
                        <td>Gardening</td>
                        <td>1.00</td>
                    </tr>
                    <tr><td colspan="2">Lunch break</td></tr>
                    <tr>
                        <td>Cooking</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>Relax</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>Eating</td>
                        <td>0.30</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
