@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>First changes</p>
    <p>Some more changes</p>
    <p>Changes in RikTest2</p>
    <p>Change made on feature a branch</p>
    <p>Change made after feature b branch</p>
    <p>implementing single-signon feature</p>
    <p>small sso fix before release</p>
    <p>trigger CI build</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
