@page
@model ConferencePlanner.Core.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
    You can use this website to automatically schedule your day with activities. Your day is devided into morning and afternoon activities.<br />

    When importing information be sure each activity has a name and a duration in hours and minutes.<br />

    The resulting day schedule is displayed on the home page itself.
</p>